openapi: 3.0.3
info:
  title: finance
  description: Home to various finance-related functions
  version: 1.10.0
  contact:
    name: Finance Team
    url: 'https://evenfinancial.atlassian.net/wiki/spaces/ENG/pages/36044820/Finance+Team'
servers:
  - url: 'https://api.evenfinancial.com/finance'
    description: Prod
  - url: 'https://dev-api.evenfinancial.com/finance'
    description: Dev
components:
  parameters:
    id:
      name: id
      in: query
      description: A comma separated list of ids
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
          minimum: 1
    name:
      name: name
      in: query
      description: A comma separated list of names
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          minimum: 1
    uuid:
      name: uuid
      in: query
      description: A comma separated list of uuids
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
          minimum: 1
    accountId:
      name: accountId
      in: query
      description: A comma separated list of account ids
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
          minimum: 1
    companyUuid:
      name: companyUuid
      in: query
      description: A comma separated list of company uuids
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
          minimum: 1
    displayName:
      name: displayName
      in: query
      description: A comma separated list of sub account display names
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          minimum: 1
    createdBy:
      name: createdBy
      in: query
      description: comma separated list of uuids
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    createdAt:
      name: createdAt
      in: query
      description: creation date of object
      schema:
        type: string
        format: date-time
    sortBy:
      name: sortBy
      description: 'how do you want to sort, default created_at'
      in: query
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: limit results
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 1000
    offset:
      name: offset
      in: query
      description: 'at what offset do you want to start looking at, default 0'
      schema:
        type: integer
        format: int64
        minimum: 0
    order:
      name: order
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
    excludeDeleted:
      name: excludeDeleted
      description: 'ignored deleted items, default true'
      in: query
      schema:
        type: boolean
    includeDeactivated:
      name: includeDeactivated
      description: 'include deactivated items, default false'
      in: query
      schema:
        default: true
        type: boolean
    subAccountTypeKey:
      name: subAccountTypeKey
      in: query
      description: sub account type key
      style: form
      schema:
        type: string
    subAccountOwnerId:
      name: subAccountOwnerId
      description: comma separated list of sub account owner ids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
          format: int64
    subAccountOwnerDemandPartnerManager:
      name: subAccountOwnerDemandPartnerManager
      description: comma separated list of demand partner manager uuids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    subAccountOwnerDemandYieldManager:
      name: subAccountOwnerDemandYieldManager
      description: comma separated list of demand yield manager uuids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    subAccountOwnerSupplyPartnerManager:
      name: subAccountOwnerSupplydPartnerManager
      description: comma separated list of supply partner manager uuids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    subAccountOwnerSupplyYieldManager:
      name: subAccountOwnerSupplyYieldManager
      description: comma separated list of supply yield manager uuids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    subAccountOwnerCreatedBy:
      name: subAccountOwnerCreatedBy
      description: comma separated list of uuids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    subAccountOwnerCreatedAtMin:
      name: subAccountOwnerCreatedAtMin
      description: earliest bound to look at for creation date
      in: query
      style: form
      schema:
        type: string
        format: date-time
    subAccountOwnerCreatedAtMax:
      name: subAccountOwnerCreatedAtMax
      description: latest bound to look at for creation date
      in: query
      style: form
      schema:
        type: string
        format: date-time
    subAccountOwnerDeletedBy:
      name: subAccountOwnerDeletedBy
      description: comma separated list of uuids
      in: query
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          format: uuid
    subAccountOwnerDeletedAtMin:
      name: subAccountOwnerDeletedAtMin
      description: earliest bound for deletion date
      in: query
      style: form
      schema:
        type: string
        format: date-time
    subAccountOwnerDeletedAtMax:
      name: subAccountOwnerDeletedAtMax
      description: latest time for deletion date
      in: query
      style: form
      schema:
        type: string
        format: date-time
    subAccountOwnerIsDeleted:
      name: subAccountOwnerIsDeleted
      description: 'include deleted Sub Account Owners, true/false'
      in: query
      style: form
      schema:
        type: boolean
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /auth/accessTokens
          scopes:
            'finance:read': Allows read access to svc-finance resources
            'finance:write': Allows write access to svc-finance resources
  schemas:
    PayoutClause:
      type: object
      required:
        - key
      properties:
        key:
          type: string
    RevenueClause:
      type: object
      required:
        - key
      properties:
        key:
          type: string
    Account:
      type: object
      required:
        - id
        - uuid
        - name
        - billingSetup
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        uuid:
          type: string
          format: uuid
          description: |
            A unique identifier for this resource.
        name:
          type: string
        email:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zipcode:
          type: string
        country:
          type: string
        phoneNumber:
          type: string
        billingName:
          type: string
        receivableBillingName:
          type: string
        billingSetup:
          type: boolean
        accountOwners:
          type: object
          required:
            - id
            - accountId
            - createdAt
            - createdBy
          properties:
            id:
              type: integer
              format: int64
              description: |
                A unique, internal identifier for this resource.
            accountId:
              type: integer
              format: int64
              description: |
                An identifier for the associated account
            supplyPartnerManager:
              type: string
              format: uuid
              description: |
                A unique identifier for the supply partner manager.
            demandPartnerManager:
              type: string
              format: uuid
              description: |
                A unique identifier for the demand partner manager.
            supplyYieldManager:
              type: string
              format: uuid
              description: |
                A unique identifier for the supply yield manager.
            demandYieldManager:
              type: string
              format: uuid
              description: |
                A unique identifier for the demand yield manager.
            createdAt:
              type: string
              format: date-time
              description: |
                When the resource was created.
            createdBy:
              type: string
              format: uuid
              description: |
                The UUID of the access token that was used to create this resource.
            deletedAt:
              type: string
              format: date-time
              description: |
                When the resource was deleted.
            deletedBy:
              type: string
              format: uuid
              description: |
                The UUID of the access token that was used to delete this resource.
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the resource was deleted.
        deletedBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this resource.
        deactivatedAt:
          type: string
          format: date-time
          readOnly: true
          description: |
            When the resource was deactivated.
        deactivatedBy:
          type: string
          format: uuid
          readOnly: true
          description: |
            The UUID of the access token that was used to deactivated this resource.
    AccountDeactivation:
      type: object
      required:
        - id
        - accountId
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        accountId:
          type: integer
          format: int64
          description: |
            An identifier for the account that is deactivated.
        deactivationReason:
          type: string
          description: |
            Reason why the account was deactivated.
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the resource was deleted.
        deletedBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this resource.
    AccountDeactivationCreateData:
      type: object
      required:
        - accountIds
      properties:
        accountIds:
          type: array
          items:
            type: integer
            format: int64
          description: |
            Identifiers for the accounts that are deactivated.
        deactivationReason:
          type: string
          description: |
            Reason why the accounts were deactivated.
    AccountAdjustment:
      type: object
      title: accountAdjustment
      required:
        - id
        - accountId
        - amount
        - adjustmentReason
        - createdAt
        - createdBy
      properties:
        id:
          title: Id
          type: integer
          format: int64
        accountId:
          title: Account Id
          type: integer
          format: int64
        amount:
          title: Adjustment Amount
          type: number
          format: double
        adjustmentReason:
          title: Adjustment Reason
          type: string
          enum:
            - monthly_ten_percent
            - customer_reporting
            - savings_revenue
            - credit_card_revenue
            - email_revenue
            - pre_reported
            - promotional
            - lead_testing_adjustment
            - other
            - unknown
        memo:
          title: Memo
          type: string
        ledgerItemId:
          title: Ledger Item Id
          type: integer
          format: int64
        createdAt:
          title: Created At
          type: string
          format: date-time
        createdBy:
          title: Created By
          type: string
          format: uuid
        deletedAt:
          title: Deleted At
          type: string
          format: date-time
        deletedBy:
          title: Deleted By
          type: string
          format: uuid
    AccountAdjustmentCreateData:
      type: object
      required:
        - accountId
        - amount
        - adjustmentReason
      properties:
        accountId:
          type: integer
          format: int64
        amount:
          type: number
          format: double
        adjustmentReason:
          $ref: '#/components/schemas/AccountAdjustment/properties/adjustmentReason'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/adjustmentReason.yml
        memo:
          title: Memo
          type: string
        ledgerItemId:
          type: integer
          format: int64
    AccountOwner:
      type: object
      required:
        - id
        - accountId
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        accountId:
          type: integer
          format: int64
          description: |
            An identifier for the associated account
        supplyPartnerManager:
          type: string
          format: uuid
          description: |
            A unique identifier for the supply partner manager.
        demandPartnerManager:
          type: string
          format: uuid
          description: |
            A unique identifier for the demand partner manager.
        supplyYieldManager:
          type: string
          format: uuid
          description: |
            A unique identifier for the supply yield manager.
        demandYieldManager:
          type: string
          format: uuid
          description: |
            A unique identifier for the demand yield manager.
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the resource was deleted.
        deletedBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this resource.
    AccountOwnersWriteData:
      type: object
      required:
        - supplyManager
        - demandManager
        - supplyYieldManager
        - demandYieldManager
      properties:
        supplyManager:
          type: string
        demandManager:
          type: string
        supplyYieldManager:
          type: string
        demandYieldManager:
          type: string
    AccountWriteData:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        email:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zipcode:
          type: string
        country:
          type: string
        phoneNumber:
          type: string
        billingName:
          type: string
        receivableBillingName:
          type: string
        accountOwners:
          type: object
          required:
            - supplyManager
            - demandManager
            - supplyYieldManager
            - demandYieldManager
          properties:
            supplyManager:
              type: string
            demandManager:
              type: string
            supplyYieldManager:
              type: string
            demandYieldManager:
              type: string
    AdjustmentReason:
      title: Adjustment Reason
      type: string
      enum:
        - monthly_ten_percent
        - customer_reporting
        - savings_revenue
        - credit_card_revenue
        - email_revenue
        - pre_reported
        - promotional
        - lead_testing_adjustment
        - other
        - unknown
    ApiError:
      type: object
      properties:
        attribute:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        details:
          type: object
          readOnly: true
          additionalProperties:
            type: string
        message:
          type: string
          readOnly: true
    BillingCycle:
      type: object
      title: billingCycle
      required:
        - id
        - accountId
        - ledgerItemType
        - effectiveAt
        - termUnit
        - netD
        - createdAt
        - createdBy
      properties:
        id:
          title: Id
          type: integer
          format: int64
        accountId:
          title: Account Id
          type: integer
          format: int64
        ledgerItemType:
          title: Ledger Item Type
          type: string
          enum:
            - payable
            - receivable
            - unknown
        effectiveAt:
          title: Effective At
          type: string
          format: date
        endDate:
          title: End Date
          type: string
          format: date
        termUnit:
          title: Term Unit
          type: string
          enum:
            - week
            - bi_monthly
            - month
            - unkown
        netD:
          title: NetD
          type: number
          format: double
        createdAt:
          title: Created At
          type: string
          format: date-time
        createdBy:
          title: Created By
          type: string
          format: uuid
        deletedAt:
          title: Deleted At
          type: string
          format: date-time
        deletedBy:
          title: Deleted By
          type: string
          format: uuid
    BillingCycleCreateData:
      type: object
      title: billingCycleCreateData
      required:
        - accountId
        - ledgerItemType
        - effectiveAt
        - termUnit
        - netD
      properties:
        accountId:
          title: Account Id
          type: integer
          format: int64
        ledgerItemType:
          $ref: '#/components/schemas/BillingCycle/properties/ledgerItemType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/ledgerItemType.yml
        effectiveAt:
          title: Effective At
          type: string
          format: date
        endDate:
          title: End Date
          type: string
          format: date
        termUnit:
          $ref: '#/components/schemas/BillingCycle/properties/termUnit'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/termUnit.yml
        netD:
          title: NetD
          type: number
          format: double
    BillingCycleUpdateData:
      type: object
      title: billingCycleUpdateData
      required:
        - endDate
      properties:
        endDate:
          title: End Date
          type: string
          format: date
    CostPerCompletedApplicationPayoutClause:
      type: object
      title: Cost Per Completed Application
      required:
        - cost
      properties:
        cost:
          type: number
          multipleOf: 0.01
          title: Amount (in $ USD)
          minimum: 0.01
      allOf:
        - type: object
          required:
            - key
          properties:
            key:
              type: string
    CostPerCompletedApplicationByCreditRatingPayoutClause:
      type: object
      title: Cost Per Completed Application by Credit Rating
      required:
        - defaultCost
      properties:
        defaultCost:
          type: number
          multipleOf: 0.01
          title: Default Amount (in $ USD)
          minimum: 0.01
        excellentCost:
          type: number
          multipleOf: 0.01
          title: Excellent Amount (in $ USD)
          minimum: 0.01
        goodCost:
          type: number
          multipleOf: 0.01
          title: Good Amount (in $ USD)
          minimum: 0.01
        fairCost:
          type: number
          multipleOf: 0.01
          title: Fair Amount (in $ USD)
          minimum: 0.01
        poorCost:
          type: number
          multipleOf: 0.01
          title: Poor Amount (in $ USD)
          minimum: 0.01
        limitedCost:
          type: number
          multipleOf: 0.01
          title: Limited Amount (in $ USD)
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCompletedApplicationPayoutClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractPayoutClause.yml
    CostPerCompletedApplicationBySubIdPayoutClause:
      type: object
      title: Cost Per Completed Application by Sub Id
      required:
        - defaultCost
        - subIdKey
        - costPerValue
      properties:
        defaultCost:
          type: number
          title: Default Anount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
        subIdKey:
          type: string
          title: Sub Id Key
          minLength: 1
        costPerValue:
          type: array
          items:
            type: object
            required:
              - key
              - value
            properties:
              key:
                type: string
                title: Sub Id Value
              value:
                type: number
                title: Amount (in $ USD)
                multipleOf: 0.01
                minimum: 0
      allOf:
        - $ref: '#/components/schemas/CostPerCompletedApplicationPayoutClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractPayoutClause.yml
    CostPerCreditCardApprovedRevenueClause:
      type: object
      title: Cost Per Credit Card Approved
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - type: object
          required:
            - key
          properties:
            key:
              type: string
    CostPerCreditCardOpenedRevenueClause:
      type: object
      title: Cost Per Credit Card Opened
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    CostPerLeadPayoutClause:
      type: object
      title: Cost Per Lead
      required:
        - cost
      properties:
        cost:
          type: number
          multipleOf: 0.01
          title: Amount (in $ USD)
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCompletedApplicationPayoutClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractPayoutClause.yml
    CostPerLeadByCreditRatingPayoutClause:
      type: object
      title: Cost Per Lead by Credit Rating
      required:
        - defaultCost
      properties:
        defaultCost:
          type: number
          multipleOf: 0.01
          title: Default Amount (in $ USD)
          minimum: 0.01
        excellentCost:
          type: number
          multipleOf: 0.01
          title: Excellent Amount (in $ USD)
          minimum: 0.01
        goodCost:
          type: number
          multipleOf: 0.01
          title: Good Amount (in $ USD)
          minimum: 0.01
        fairCost:
          type: number
          multipleOf: 0.01
          title: Fair Amount (in $ USD)
          minimum: 0.01
        poorCost:
          type: number
          multipleOf: 0.01
          title: Poor Amount (in $ USD)
          minimum: 0.01
        limitedCost:
          type: number
          multipleOf: 0.01
          title: Limited Amount (in $ USD)
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCompletedApplicationPayoutClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractPayoutClause.yml
    CostPerLeadBySubIdPayoutClause:
      type: object
      title: Cost Per Lead by Sub Id
      required:
        - defaultCost
        - subIdKey
        - costPerValue
      properties:
        defaultCost:
          type: number
          title: Default Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
        subIdKey:
          type: string
          title: Sub Id Key
          minLength: 1
        costPerValue:
          type: array
          items:
            $ref: '#/components/schemas/CostPerCompletedApplicationBySubIdPayoutClause/properties/costPerValue/items'
            x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/payout-clauses/costPerSubIdValue.yml
      allOf:
        - $ref: '#/components/schemas/CostPerCompletedApplicationPayoutClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractPayoutClause.yml
    CostPerLoanApprovedRevenueClause:
      type: object
      title: Cost Per Loan Approved
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    CostPerLoanFundedRevenueClause:
      type: object
      title: Cost Per Funded Loan
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    CostPerSavingsFundedRevenueClause:
      type: object
      title: Cost Per Savings Funded
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    CostPerSavingsOfferClickedRevenueClause:
      type: object
      title: Cost Per Savings Offer Clicked
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    CostPerSavingsOpenedRevenueClause:
      type: object
      title: Cost Per Savings Opened
      required:
        - cost
      properties:
        cost:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0.01
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    CostPerSubIdValue:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          title: Sub Id Value
        value:
          type: number
          title: Amount (in $ USD)
          multipleOf: 0.01
          minimum: 0
    CreditCardImportConfigurationDetails:
      type: object
      required:
        - appliedTimestampProcessor
        - approvedTimestampProcessor
        - fundedTimestampProcessor
        - openedTimestampProcessor
        - rejectedTimestampProcessor
        - openedCreditLimitProcessor
      properties:
        appliedTimestampProcessor:
          type: object
          required:
            - extractorType
            - extractorArguments
            - transformerTypes
            - transformerArguments
          properties:
            extractorType:
              $ref: '#/components/schemas/ProcessorInformation/properties/extractorType'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/extractorType.yml
            extractorArguments:
              type: array
              items:
                type: string
            transformerTypes:
              type: array
              items:
                $ref: '#/components/schemas/ProcessorInformation/properties/transformerTypes/items'
                x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/transformerType.yml
            transformerArguments:
              type: array
              items:
                type: string
        approvedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        fundedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        openedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        rejectedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        openedCreditLimitProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        cardProductNameProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
      allOf:
        - type: object
          required:
            - key
          properties:
            key:
              type: string
    DemandContract:
      type: object
      title: DemandContract
      required:
        - id
        - subAccountId
        - effectiveAt
        - revenueClauses
        - createdAt
        - createdBy
      properties:
        id:
          title: Id
          type: integer
          format: int64
        subAccountId:
          title: Sub Account Id
          type: integer
          format: int64
        effectiveAt:
          title: Effective At
          type: string
          format: date
        revenueClauses:
          title: Revenue Clauses
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RevenueClause'
        createdAt:
          title: Created At
          type: string
          format: date-time
        createdBy:
          title: Created By
          type: string
          format: uuid
        deletedAt:
          title: Deleted At
          type: string
          format: date-time
        deletedBy:
          title: Deleted By
          type: string
          format: uuid
    DemandContractCreateData:
      type: object
      required:
        - subAccountId
        - effectiveAt
        - revenueClauses
      properties:
        subAccountId:
          title: Sub Account Id
          type: integer
          format: int64
        effectiveAt:
          title: Effective At
          type: string
          format: date
        revenueClauses:
          title: Revenue Clauses
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RevenueClause'
    DemandDataImport:
      type: object
      required:
        - id
        - fileId
        - configurationId
        - createdAt
        - createdByUuid
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        fileId:
          type: integer
          format: int64
          description: |
            A unique identifer for the file that is being imported
        configurationId:
          type: integer
          format: int64
          description: |
            A unique identifier for the configuration details to be used on file import
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdByUuid:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the resource was deleted.
        deletedByUuid:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this resource.
    DemandDataImportConfiguration:
      type: object
      required:
        - id
        - subAccountId
        - productType
        - effectiveAt
        - fieldNames
        - fileType
        - leadUuidProcessorInformation
        - details
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        subAccountId:
          type: integer
          format: int64
        productType:
          type: string
          enum:
            - credit_card
            - insurance
            - life_insurance
            - loan
            - mortgage
            - savings
            - other
            - unknown
        effectiveAt:
          type: string
          format: date-time
        sheetNumber:
          type: string
        headerRow:
          type: string
        fieldNames:
          type: array
          items:
            type: string
          description: |
            A comma-separated list of field names that are standard for each file that uses this configuration
        dataRow:
          type: string
        fileType:
          type: string
          enum:
            - csv
            - json
            - xlsx
        leadUuidProcessorInformation:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        offerIdProcessorInformation:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        productSubTypeProcessorInformation:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        details:
          allOf:
            - $ref: '#/components/schemas/CreditCardImportConfigurationDetails/allOf/0'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/details/importConfigurationDetails.yml
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the resource was deleted.
        deletedBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this resource.
    DemandDataImportCreateData:
      type: object
      required:
        - fileId
        - configurationId
      properties:
        fileId:
          type: integer
          format: int64
          description: |
            A unique identifer for the file that is being imported
        configurationId:
          type: integer
          format: int64
          description: |
            A unique identifier for the configuration details to be used on file import
    DemandDataImportConfigurationCreateData:
      type: object
      required:
        - subAccountId
        - productType
        - effectiveAt
        - fileType
        - leadUuidProcessorInformation
        - details
      properties:
        subAccountId:
          type: integer
          format: int64
        productType:
          $ref: '#/components/schemas/DemandDataImportConfiguration/properties/productType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/productType.yml
        effectiveAt:
          type: string
          format: date-time
        sheetNumber:
          type: integer
          format: int32
        headerRow:
          type: integer
          format: int32
        fieldNames:
          type: array
          items:
            type: string
        dataRow:
          type: integer
          format: int32
        fileType:
          $ref: '#/components/schemas/DemandDataImportConfiguration/properties/fileType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/fileType.yml
        leadUuidProcessorInformation:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        offerIdProcessorInformation:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        productSubTypeProcessorInformation:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        details:
          allOf:
            - $ref: '#/components/schemas/CreditCardImportConfigurationDetails/allOf/0'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/details/importConfigurationDetails.yml
    DemandDataImportSource:
      type: string
      enum:
        - manualUpload
        - sftp
    DemandDataImportStatus:
      type: string
      enum:
        - started
        - completed
        - failed
    DemandDataImportSummary:
      type: object
      required:
        - id
        - subAccountId
        - subAccountName
        - fileId
        - fileUrl
        - productType
        - source
        - status
        - newEventCount
        - duplicateEventCount
        - errorCount
        - createdAt
        - createdByUuid
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        subAccountId:
          type: integer
          format: int64
        subAccountName:
          type: string
        fileId:
          type: integer
          format: int64
          description: |
            A unique identifer for the file that is being imported
        fileUrl:
          type: string
        productType:
          $ref: '#/components/schemas/DemandDataImportConfiguration/properties/productType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/productType.yml
        source:
          type: string
          enum:
            - manualUpload
            - sftp
        status:
          type: string
          enum:
            - started
            - completed
            - failed
        newEventCount:
          type: integer
          format: int32
        duplicateEventCount:
          type: integer
          format: int32
        errorCount:
          type: integer
          format: int32
        createdAt:
          type: string
          format: date-time
          description: |
            When the demand data import was created.
        createdByUuid:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this demand data import.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the demand data import was deleted.
        deletedByUuid:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this demand data import.
    DemandFeatureFlag:
      type: object
      required:
        - demandSubAccountId
      properties:
        demandSubAccountId:
          type: integer
          format: int64
      allOf:
        - type: object
          required:
            - id
            - featureId
          properties:
            id:
              type: integer
              format: int64
            featureId:
              type: string
    DemandSubAccount:
      type: object
      allOf:
        - type: object
          required:
            - id
            - uuid
            - accountId
            - companyUuid
            - name
            - displayName
            - createdAt
            - createdBy
          properties:
            id:
              type: integer
              format: int64
            uuid:
              type: string
              format: uuid
            accountId:
              type: integer
              format: int64
            companyUuid:
              type: string
              format: uuid
            name:
              type: string
            displayName:
              type: string
            description:
              type: string
            notes:
              type: string
            subtextOverride:
              type: string
              description: Override the default auto-generated call to action subtext for issuers
            createdAt:
              type: string
              format: date-time
            createdBy:
              type: string
              format: uuid
            updatedAt:
              type: string
              format: date-time
            updatedBy:
              type: string
              format: uuid
            deletedAt:
              type: string
              format: date-time
            deletedBy:
              type: string
              format: uuid
        - type: object
          required:
            - supportsPreSelect
            - shouldDisplayPreSelect
          properties:
            disclaimer:
              type: string
            imageUrl:
              type: string
              format: url
            productType:
              type: string
            supportsPreSelect:
              type: boolean
            shouldDisplayPreSelect:
              type: boolean
            subAccountOwners:
              type: object
              required:
                - id
                - subAccountId
                - createdAt
                - createdBy
              properties:
                id:
                  type: integer
                  format: int64
                subAccountId:
                  type: integer
                  format: int64
                partnerManager:
                  type: string
                  format: uuid
                yieldManager:
                  type: string
                  format: uuid
                createdAt:
                  type: string
                  format: date-time
                createdBy:
                  type: string
                  format: uuid
                deletedAt:
                  type: string
                  format: date-time
                deletedBy:
                  type: string
                  format: uuid
            subtextOverride:
              type: string
              description: Override the default auto-generated call to action subtext for issuers
            preSelectTextOverride:
              type: string
              description: Override the default display text for indicating a pre-selected offer if shouldDisplayPreSelect is true.
            foundedYear:
              type: integer
              format: int32
            amBestRating:
              type: string
              description: A.M. Best's rating
            deactivatedAt:
              type: string
              format: date-time
              readOnly: true
              description: |
                When the resource was deactivated.
            deactivatedBy:
              type: string
              format: uuid
              readOnly: true
              description: |
                The UUID of the access token that was used to deactivated this resource.
    DemandSubAccountCreateData:
      type: object
      allOf:
        - type: object
          required:
            - accountId
            - name
            - displayName
            - roles
          properties:
            accountId:
              type: integer
              format: int64
            name:
              type: string
            displayName:
              type: string
            notes:
              type: string
            roles:
              items:
                type: string
            subtextOverride:
              type: string
              description: Override the default auto-generated call to action subtext for issuers
        - type: object
          properties:
            disclaimer:
              type: string
            imageUrl:
              type: string
              format: url
            productType:
              type: string
            supportsPreSelect:
              type: boolean
            shouldDisplayPreSelect:
              type: boolean
            subAccountOwners:
              type: array
              items:
                type: object
                properties:
                  demandSubAccountId:
                    type: integer
                    format: int64
                  demandManager:
                    type: string
                    format: uuid
                  demandYieldManager:
                    type: string
                    format: uuid
            subtextOverride:
              type: string
              description: Override the default auto-generated call to action subtext for issuers
            preSelectTextOverride:
              type: string
              description: Override the default display text for indicating a pre-selected offer if shouldDisplayPreSelect is true.
            foundedYear:
              type: integer
              format: int32
            amBestRating:
              type: string
              description: A.M. Best's rating
    DemandSubAccountCriteria:
      type: object
      properties:
        subAccountOwnerDemandPartnerManager:
          description: List of Uuids pertaining to a Demand Partner Manager
          type: array
          items:
            type: string
            format: uuid
        subAccountOwnerDemandYieldManager:
          description: List of Uuids pertaining to a Demand Yield Manager
          type: array
          items:
            type: string
            format: uuid
      allOf:
        - type: object
          properties:
            id:
              description: List of Ids that associated with sub accounts
              type: array
              items:
                type: integer
                format: int64
            uuid:
              description: List of unique identifers of sub accounts
              type: array
              items:
                type: string
                format: uuid
            accountId:
              description: List of Ids of the parent Accounts
              type: array
              items:
                type: integer
                format: int64
            companyUuid:
              description: List of Uuids for companies
              type: array
              items:
                type: string
                format: uuid
            name:
              description: List of internal names of sub accounts
              type: array
              items:
                type: string
            displayName:
              description: List of names of sub accounts (external only)
              type: array
              items:
                type: string
            createdAt:
              type: string
              format: date-time
              description: Creation time of sub account
            excludeDeleted:
              type: boolean
              description: Exclude deleted sub accounts
            limit:
              type: integer
              format: int32
            offset:
              type: integer
              format: int64
              description: At what offset you want to look at sub account results
            sortBy:
              type: string
              description: 'Sorting criteria, default is Name'
            order:
              description: Order results either ascending or descending on the sorting criteria
              allOf:
                - $ref: '#/components/parameters/order/schema'
                  x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/order.yml
        - type: object
          properties:
            subAccountOwnerId:
              description: Ids of Sub Account Owners
              type: array
              items:
                type: integer
                format: int64
            subAccountOwnerCreatedBy:
              description: Uuids of people who created Sub Account Owner objects
              type: array
              items:
                type: string
                format: uuid
            subAccountOwnerCreatedAtMin:
              description: Minimum bound for a date-time range to search over Creation time
              type: string
              format: date-time
            subAccountOwnerCreatedAtMax:
              description: Maximum bound for a date-time range to search over Creation time
              type: string
              format: date-time
            subAccountOwnerDeletedBy:
              description: Uuids of people who deleted Sub Account Owner objects
              type: array
              items:
                type: string
                format: uuid
            subAccountOwnerDeletedAtMin:
              description: Minimum bound for a date-time range to search over Deletion time
              type: string
              format: date-time
            subAccountOwnerDeletedAtMax:
              description: Maximum bound for a date-time range to search over Deletion time
              type: string
              format: date-time
            subAccountOwnerIsDeleted:
              description: Flag to include or exclude deleted records of Sub Account Owners
              type: boolean
    DemandSubAccountDeactivation:
      type: object
      required:
        - id
        - demandSubAccountId
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        demandSubAccountId:
          type: integer
          format: int64
          description: |
            An identifier for the demand sub account that is deactivated.
        deactivationReason:
          type: string
          description: |
            Reason why the demand sub account was deactivated.  
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the resource was deleted.
        deletedBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this resource.
    DemandSubAccountDeactivationCreateData:
      type: object
      required:
        - demandSubAccountIds
      properties:
        demandSubAccountIds:
          type: array
          items:
            type: integer
            format: int64
          description: |
            Identifiers for the demand sub accounts that are deactivated.
        deactivationReason:
          type: string
          description: |
            Reason why the demand sub accounts were deactivated.
    DemandSubAccountOwnerCreateData:
      type: object
      properties:
        demandSubAccountId:
          type: integer
          format: int64
        demandManager:
          type: string
          format: uuid
        demandYieldManager:
          type: string
          format: uuid
    DemandSubAccountUpdateData:
      type: object
      allOf:
        - type: object
          required:
            - name
            - displayName
          properties:
            name:
              type: string
            displayName:
              type: string
            description:
              type: string
            disclaimer:
              type: string
            imageUrl:
              type: string
              format: url
            notes:
              type: string
            productType:
              type: string
            subtextOverride:
              type: string
              description: Override the default auto-generated call to action subtext for issuers
        - type: object
          properties:
            supportsPreSelect:
              type: boolean
            shouldDisplayPreSelect:
              type: boolean
            subAccountOwners:
              $ref: '#/components/schemas/DemandSubAccountCreateData/allOf/1/properties/subAccountOwners/items'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/sub-accounts/demand-sub-accounts/demandSubAccountOwnerCreateData.yml
            subtextOverride:
              type: string
              description: Override the default auto-generated call to action subtext for issuers
            preSelectTextOverride:
              type: string
              description: Override the default display text for indicating a pre-selected offer if shouldDisplayPreSelect is true.
            foundedYear:
              type: integer
              format: int32
            amBestRating:
              type: string
              description: A.M. Best's rating
    ExpectedEarningsShare:
      type: object
      required:
        - id
        - companyUuid
        - share
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        companyUuid:
          type: string
          format: uuid
        share:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time
          description: |
            When the resource was created.
        createdBy:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this resource.
    ExpectedEarningsShareCreateData:
      type: object
      required:
        - share
      properties:
        companyUuid:
          type: string
          format: uuid
        share:
          type: number
          format: double
    ExternalDemandEvent:
      type: object
      required:
        - id
        - subAccountId
        - leadUuid
        - eventType
        - timestamp
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          description: |
            A unique, internal identifier for this resource.
        subAccountId:
          type: integer
          format: int64
        leadUuid:
          type: string
          format: uuid
        eventType:
          type: string
          enum:
            - credit_card/applied
            - credit_card/approved
            - credit_card/funded
            - credit_card/issuer_pre_qualification_application
            - credit_card/issuer_pre_qualification_application_approval
            - credit_card/opened
            - credit_card/rejected
            - life_insurance/applied
            - life_insurance/approved
            - life_insurance/carrier_adjustment
            - life_insurance/carrier_payment
            - life_insurance/policy_adjustment
            - life_insurance/policy_bonus_payment
            - life_insurance/policy_charge_back
            - life_insurance/policy_in_force
            - life_insurance/policy_payment
            - loan/applied
            - loan/approved
            - loan/funded
            - loan/listed
            - loan/listing_not_funded
            - loan/rejected
            - mortgage/applied
            - mortgage/approved
            - mortgage/funded
            - mortgage/rejected
            - savings/applied
            - savings/funded
            - savings/mobile_application_installed
            - savings/mobile_application_bank_linked
            - savings/offer_clicked
            - savings/opened
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          required:
            - edeDetailsKey
          properties:
            edeDetailsKey:
              type: string
        productSubType:
          type: string
          description: A type of financial product
          enum:
            - credit_card
            - secured_card
            - personal_loan
            - student_loan_refinance
            - co_applicant_loan
            - line_of_credit
            - purchase
            - refinance
            - savings_account
            - money_market_account
            - certificate_of_deposit
            - individual_retirement_account
            - cash_management_account
            - high_interest_checking
            - accidental_death_benefits
            - term_life
        partnerTrackingId:
          type: integer
          format: int64
        offerId:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
          description: |
            When the external demand event was created.
        createdByUuid:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to create this external demand event.
        deletedAt:
          type: string
          format: date-time
          description: |
            When the external demand event was deleted.
        deletedByUuid:
          type: string
          format: uuid
          description: |
            The UUID of the access token that was used to delete this external demand event.
    ExternalDemandEventCreateData:
      type: object
      required:
        - id
        - subAccountId
        - leadUuid
        - eventType
        - timestamp
        - createdAt
        - createdBy
      properties:
        subAccountId:
          type: integer
          format: int64
        leadUuid:
          type: string
          format: uuid
        eventType:
          $ref: '#/components/schemas/ExternalDemandEvent/properties/eventType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventType.yml
        timestamp:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/ExternalDemandEvent/properties/details'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventDetails.yml
        productSubType:
          $ref: '#/components/schemas/ExternalDemandEvent/properties/productSubType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/lead/schemas/productSubType.yml
        partnerTrackingId:
          type: integer
          format: int64
        offerId:
          type: integer
          format: int64
    ExternalDemandEventDetails:
      type: object
      required:
        - edeDetailsKey
      properties:
        edeDetailsKey:
          type: string
    ExternalDemandEventCreditCardDetails:
      type: object
      properties:
        creditLimit:
          type: number
          format: float
        cardProductName:
          type: string
      allOf:
        - $ref: '#/components/schemas/ExternalDemandEvent/properties/details'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventDetails.yml
    ExternalDemandEventLifeInsuranceDetails:
      type: object
      properties:
        adjustmentAmount:
          type: number
          format: float
        coverageAmount:
          type: number
          format: float
        termLength:
          type: integer
          format: int32
        paymentAmount:
          type: number
          format: float
        paymentFrequency:
          type: string
          enum:
            - monthly
            - quarterly
            - yearly
      allOf:
        - $ref: '#/components/schemas/ExternalDemandEvent/properties/details'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventDetails.yml
    ExternalDemandEventLoanDetails:
      type: object
      properties:
        amount:
          type: number
          format: float
        originationFee:
          type: number
          format: float
        approvedLoanTerm:
          type: integer
          format: int32
        approvedLoanApr:
          type: number
          format: float
        approvedLoanMinimum36MonthApr:
          type: number
          format: float
        approvedLoanMinimum60MonthApr:
          type: number
          format: float
        listedLoanTerm:
          type: integer
          format: int32
        listedLoanApr:
          type: number
          format: float
        fundedLoanTerm:
          type: integer
          format: int32
        fundedLoanApr:
          type: number
          format: float
        isCoApplicant:
          type: boolean
      allOf:
        - $ref: '#/components/schemas/ExternalDemandEvent/properties/details'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventDetails.yml
    ExternalDemandEventSavingsDetails:
      type: object
      properties:
        fundedAmount:
          type: number
          format: float
      allOf:
        - $ref: '#/components/schemas/ExternalDemandEvent/properties/details'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventDetails.yml
    ExternalDemandEventSpecialOfferDetails:
      type: object
      required:
        - revenue
      properties:
        revenue:
          type: number
          format: float
      allOf:
        - $ref: '#/components/schemas/ExternalDemandEvent/properties/details'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/external-demand-event/externalDemandEventDetails.yml
    ExternalDemandEventType:
      type: string
      enum:
        - credit_card/applied
        - credit_card/approved
        - credit_card/funded
        - credit_card/issuer_pre_qualification_application
        - credit_card/issuer_pre_qualification_application_approval
        - credit_card/opened
        - credit_card/rejected
        - life_insurance/applied
        - life_insurance/approved
        - life_insurance/carrier_adjustment
        - life_insurance/carrier_payment
        - life_insurance/policy_adjustment
        - life_insurance/policy_bonus_payment
        - life_insurance/policy_charge_back
        - life_insurance/policy_in_force
        - life_insurance/policy_payment
        - loan/applied
        - loan/approved
        - loan/funded
        - loan/listed
        - loan/listing_not_funded
        - loan/rejected
        - mortgage/applied
        - mortgage/approved
        - mortgage/funded
        - mortgage/rejected
        - savings/applied
        - savings/funded
        - savings/mobile_application_installed
        - savings/mobile_application_bank_linked
        - savings/offer_clicked
        - savings/opened
    ExtractorType:
      type: string
      enum:
        - conditional_two_column_value_equal_not
        - conditional_column_value
        - double_conditional_column_value
        - json_string
        - prefixed_key_value
        - no_op
        - simple_column
    FileType:
      type: string
      enum:
        - csv
        - json
        - xlsx
    GenericImportConfigurationDetails:
      type: object
      required:
        - revenueAmountProcessor
        - revenueTimestampProcessor
      properties:
        revenueAmountProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        revenueTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
      allOf:
        - $ref: '#/components/schemas/CreditCardImportConfigurationDetails/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/details/importConfigurationDetails.yml
    ImportConfigurationDetails:
      type: object
      required:
        - key
      properties:
        key:
          type: string
    ProcessorInformation:
      type: object
      required:
        - extractorType
        - extractorArguments
        - transformerTypes
        - transformerArguments
      properties:
        extractorType:
          type: string
          enum:
            - conditional_two_column_value_equal_not
            - conditional_column_value
            - double_conditional_column_value
            - json_string
            - prefixed_key_value
            - no_op
            - simple_column
        extractorArguments:
          type: array
          items:
            type: string
        transformerTypes:
          type: array
          items:
            type: string
            enum:
              - add_int_to_value
              - excel_timestamp
              - no_op
              - strip_prefix
              - strip_suffix
              - timestamp
              - uuid
              - is_not_null
        transformerArguments:
          type: array
          items:
            type: string
    LedgerItem:
      type: object
      title: ledgerItem
      required:
        - id
        - accountId
        - amount
        - startDate
        - endDate
        - dueDate
        - ledgerItemType
        - billingCycleId
        - details
        - createdAt
        - createdBy
      properties:
        id:
          title: Id
          type: integer
          format: int64
        accountId:
          title: Account Id
          type: integer
          format: int64
        amount:
          title: Amount
          type: number
          format: double
        memo:
          title: Memo
          type: string
        startDate:
          title: Start Date
          type: string
          format: date
        endDate:
          title: End Date
          type: string
          format: date
        dueDate:
          title: Due Date
          type: string
          format: string
        ledgerItemType:
          $ref: '#/components/schemas/BillingCycle/properties/ledgerItemType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/ledgerItemType.yml
        reason:
          type: string
          enum:
            - standard
            - settlement
            - oneOff
        previousLedgerItemId:
          title: Previous Ledger Item Id
          type: integer
          format: int64
        billingCycleId:
          title: Billing Cycle Id
          type: integer
          format: int64
        details:
          type: array
          items:
            type: object
            title: ledgerItemDetail
            required:
              - id
              - ledgerItemId
              - subAccountId
              - amount
              - createdAt
              - createdBy
            properties:
              id:
                title: Id
                type: integer
                format: int64
              ledgerItemId:
                title: Ledger Item Id
                type: integer
                format: int64
              subAccountId:
                title: Sub Account Id
                type: integer
                format: int64
              amount:
                title: Amount
                type: number
                format: double
              contractType:
                title: Contract Type
                type: string
              createdAt:
                title: Created At
                type: string
                format: date-time
              createdBy:
                title: Created By
                type: string
                format: uuid
              deletedAt:
                title: Deleted At
                type: string
                format: date-time
              deletedBy:
                title: Deleted By
                type: string
                format: uuid
        createdAt:
          title: Created At
          type: string
          format: date-time
        createdBy:
          title: Created By
          type: string
          format: uuid
        deletedAt:
          title: Deleted At
          type: string
          format: date-time
        deletedBy:
          title: Deleted By
          type: string
          format: uuid
    LedgerItemCreateData:
      type: object
      title: ledgerItemCreateData
      required:
        - billingCycleId
        - targetDate
      properties:
        billingCycleId:
          title: Billing Cycle Id
          type: integer
          format: int64
        targetDate:
          title: Target Date
          type: string
          format: date
    LedgerItemDetail:
      type: object
      title: ledgerItemDetail
      required:
        - id
        - ledgerItemId
        - subAccountId
        - amount
        - createdAt
        - createdBy
      properties:
        id:
          title: Id
          type: integer
          format: int64
        ledgerItemId:
          title: Ledger Item Id
          type: integer
          format: int64
        subAccountId:
          title: Sub Account Id
          type: integer
          format: int64
        amount:
          title: Amount
          type: number
          format: double
        contractType:
          title: Contract Type
          type: string
        createdAt:
          title: Created At
          type: string
          format: date-time
        createdBy:
          title: Created By
          type: string
          format: uuid
        deletedAt:
          title: Deleted At
          type: string
          format: date-time
        deletedBy:
          title: Deleted By
          type: string
          format: uuid
    LedgerItemReason:
      type: string
      enum:
        - standard
        - settlement
        - oneOff
    LedgerItemRecreateData:
      type: object
      title: ledgerItemRecreateData
      required:
        - copyAdjustments
      properties:
        copyAdjustments:
          title: Copy Adjustments
          type: boolean
    LedgerItemReconciliation:
      type: object
      title: ledgerItemReconciliation
      required:
        - id
        - ledgerItemId
        - reconciliationType
        - createdAt
        - createdBy
      properties:
        id:
          title: Id
          type: integer
          format: int64
        ledgerItemId:
          title: Ledger Item Id
          type: integer
          format: int64
        reconciliationType:
          title: Reconciliation Type
          type: string
          enum:
            - paid
            - ignored
            - unpaid
            - overdue
            - unknown
        memo:
          title: Memo
          type: string
        createdAt:
          title: Created At
          type: string
          format: date-time
        createdBy:
          title: Created By
          type: string
          format: uuid
        deletedAt:
          title: Deleted At
          type: string
          format: date-time
        deletedBy:
          title: Deleted By
          type: string
          format: uuid
    LedgerItemReconciliationCreateData:
      type: object
      title: ledgerItemReconciliationCreateData
      required:
        - ledgerItemIds
        - reconciliationType
        - memo
      properties:
        ledgerItemIds:
          title: Ledger Item Ids
          type: array
          items:
            type: integer
            format: int64
        reconciliationType:
          $ref: '#/components/schemas/LedgerItemReconciliation/properties/reconciliationType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/reconciliationType.yml
        memo:
          title: Memo
          type: string
    LedgerItemRegenerationBatch:
      type: object
      required:
        - id
        - ledgerItemIds
        - newLedgerItemIds
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
        ledgerItemIds:
          type: array
          items:
            type: integer
            format: int64
        newLedgerItemIds:
          type: array
          items:
            type: integer
            format: int64
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
    LedgerItemRegenerationBatchCreateData:
      type: object
      required:
        - ledgerItemIds
        - copyAdjustments
      properties:
        ledgerItemIds:
          type: array
          items:
            type: integer
            format: int64
        copyAdjustments:
          type: boolean
    LedgerItemType:
      title: Ledger Item Type
      type: string
      enum:
        - payable
        - receivable
        - unknown
    LegacySubAccount:
      type: object
      required:
        - id
        - uuid
        - accountId
        - companyUuid
        - subAccountTypeKey
        - name
        - displayName
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
        uuid:
          type: string
          format: uuid
        accountId:
          type: integer
          format: int64
        companyUuid:
          type: string
          format: uuid
        subAccountTypeKey:
          type: string
          enum:
            - supply
            - demand
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        disclaimer:
          type: string
        imageUrl:
          type: string
          format: url
        notes:
          type: string
        productType:
          type: string
          description: Product types to identify what vertical the sub account is set for (demand only)
        subtextOverride:
          type: string
          description: Override the default auto-generated call to action subtext for issuers
        preSelectTextOverride:
          type: string
          description: Override the default display text for indicating a pre-selected offer if shouldDisplayPreSelect is true.
        supplyProductTypes:
          type: array
          items:
            type: string
          description: Product types to identify what vertical the sub account is set for (supply only)
        foundedYear:
          type: integer
          format: int32
        amBestRating:
          type: string
          description: A.M. Best's rating
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
          format: uuid
        deletedAt:
          type: string
          format: date-time
        deletedBy:
          type: string
          format: uuid
    LegacySubAccountCreateData:
      type: object
      required:
        - accountId
        - subAccountType
        - name
        - displayName
        - roles
      properties:
        accountId:
          type: integer
          format: int64
        subAccountType:
          $ref: '#/components/schemas/LegacySubAccount/properties/subAccountTypeKey'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/sub-accounts/subAccountType.yml
        name:
          type: string
        displayName:
          type: string
        imageUrl:
          type: string
          format: url
        notes:
          type: string
        roles:
          items:
            type: string
        subtextOverride:
          type: string
          description: Override the default auto-generated call to action subtext for issuers
        preSelectTextOverride:
          type: string
          description: Override the default display text for indicating a pre-selected offer if shouldDisplayPreSelect is true.
        supplyProductType:
          type: array
          items:
            type: string
          description: Product type exclusive to supply sub accounts
        foundedYear:
          type: integer
          format: int32
        amBestRating:
          type: string
          description: A.M. Best's rating
    LegacySubAccountCriteria:
      type: object
      allOf:
        - $ref: '#/components/schemas/DemandSubAccountCriteria/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/sub-accounts/subAccountCriteria.yml
        - type: object
          properties:
            subAccountType:
              $ref: '#/components/schemas/LegacySubAccount/properties/subAccountTypeKey'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/sub-accounts/subAccountType.yml
    LegacySubAccountOwner:
      type: object
      required:
        - id
        - subAccountId
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
        subAccountId:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        deletedAt:
          type: string
          format: date-time
        deletedBy:
          type: string
          format: uuid
        demandPartnerManager:
          description: List of Uuids pertaining to a Demand Partner Manager
          type: array
          items:
            type: string
            format: uuid
        demandYieldManager:
          description: List of Uuids pertaining to a Demand Yield Manager
          type: array
          items:
            type: string
            format: uuid
        supplyPartnerManager:
          description: List of Uuids pertaining to a Supply Partner Manager
          type: array
          items:
            type: string
            format: uuid
        supplyYieldManager:
          description: List of Uuids pertaining to a Supply Yield Manager
          type: array
          items:
            type: string
            format: uuid
    LegacySubAccountUpdateData:
      type: object
      required:
        - name
        - displayName
      properties:
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        disclaimer:
          type: string
        imageUrl:
          type: string
          format: url
        notes:
          type: string
        productType:
          type: string
        subtextOverride:
          type: string
          description: Override the default auto-generated call to action subtext for issuers
        preSelectTextOverride:
          type: string
          description: Override the default display text for indicating a pre-selected offer if shouldDisplayPreSelect is true.
        supplyProductType:
          type: array
          items:
            type: string
          description: Product type exclusive to supply sub accounts
        foundedYear:
          type: integer
          format: int32
        amBestRating:
          type: string
          description: A.M. Best's rating
    LifeInsuranceTermUnit:
      type: string
      enum:
        - monthly
        - quarterly
        - yearly
    LoanImportConfigurationDetails:
      type: object
      required:
        - appliedAmountProcessor
        - appliedTimestampProcessor
        - approvedAmountProcessor
        - approvedTimestampProcessor
        - rejectedAmountProcessor
        - rejectedTimestampProcessor
        - listedAmountProcessor
        - listedTimestampProcessor
        - fundedAmountProcessor
        - fundedTimestampProcessor
        - originationFeeProcessor
        - approvedLoanTermProcessor
        - approvedLoanAprProcessor
        - approvedLoanMinimum36MonthAprProcessor
        - approvedLoanMinimum60MonthAprProcessor
        - listedLoanTermProcessor
        - listedLoanAprProcessor
        - fundedLoanTermProcessor
        - fundedLoanAprProcessor
      properties:
        appliedAmountProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        appliedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        approvedAmountProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        approvedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        rejectedAmountProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        rejectedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        listedAmountProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        listedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        fundedAmountProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        fundedTimestampProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        originationFeeProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        approvedLoanTermProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        approvedLoanAprProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        approvedLoanMinimum36MonthAprProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        approvedLoanMinimum60MonthAprProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        listedLoanTermProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        listedLoanAprProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        fundedLoanTermProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        fundedLoanAprProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
        isCoApplicantProcessor:
          $ref: '#/components/schemas/CreditCardImportConfigurationDetails/properties/appliedTimestampProcessor'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/processorInformation.yml
      allOf:
        - $ref: '#/components/schemas/CreditCardImportConfigurationDetails/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/demand-data/details/importConfigurationDetails.yml
    OneOffLedgerItemCreateData:
      type: object
      required:
        - accountId
        - amount
        - startDate
        - endDate
        - dueDate
      properties:
        accountId:
          type: integer
          format: int64
        amount:
          type: number
          format: double
        memo:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
    Order:
      type: string
      enum:
        - asc
        - desc
    OtherRevenueRevenueClause:
      type: object
      title: Other Revenue
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    FooPayoutClause:
      oneOf:
        - $ref: '#/components/schemas/CostPerCompletedApplicationPayoutClause'
        - $ref: '#/components/schemas/CostPerCompletedApplicationByCreditRatingPayoutClause'
        - $ref: '#/components/schemas/CostPerCompletedApplicationBySubIdPayoutClause'
        - $ref: '#/components/schemas/CostPerLeadPayoutClause'
        - $ref: '#/components/schemas/CostPerLeadByCreditRatingPayoutClause'
        - $ref: '#/components/schemas/CostPerLeadBySubIdPayoutClause'
        - $ref: '#/components/schemas/RevenueShareCreditCardPayoutClause'
        - $ref: '#/components/schemas/RevenueShareInsurancePayoutClause'
        - $ref: '#/components/schemas/RevenueShareLoanPayoutClause'
        - $ref: '#/components/schemas/RevenueShareMortgagePayoutClause'
        - $ref: '#/components/schemas/RevenueShareOtherPayoutClause'
        - $ref: '#/components/schemas/RevenueShareSavingsPayoutClause'
      discriminator:
        propertyName: key
        mapping:
          cost_per_completed_application: '#/components/schemas/CostPerCompletedApplicationPayoutClause'
          cost_per_completed_application_by_credit_rating: '#/components/schemas/CostPerCompletedApplicationByCreditRatingPayoutClause'
          cost_per_completed_application_by_sub_id: '#/components/schemas/CostPerCompletedApplicationBySubIdPayoutClause'
          cost_per_lead: '#/components/schemas/CostPerLeadPayoutClause'
          cost_per_lead_by_credit_rating: '#/components/schemas/CostPerLeadByCreditRatingPayoutClause'
          cost_per_lead_by_sub_id: '#/components/schemas/CostPerLeadBySubIdPayoutClause'
          revenue_share_credit_card: '#/components/schemas/RevenueShareCreditCardPayoutClause'
          revenue_share_insurance: '#/components/schemas/RevenueShareInsurancePayoutClause'
          revenue_share_loan: '#/components/schemas/RevenueShareLoanPayoutClause'
          revenue_share_mortgage: '#/components/schemas/RevenueShareMortgagePayoutClause'
          revenue_share_other: '#/components/schemas/RevenueShareOtherPayoutClause'
          revenue_share_savings: '#/components/schemas/RevenueShareSavingsPayoutClause'
    PayableSummary:
      type: object
      required:
        - id
        - accountId
        - accountName
        - startDate
        - endDate
        - reason
        - calculatedPayout
        - adjustment
        - totalPayout
        - dueDate
        - reconciliationType
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
        accountId:
          type: integer
          format: int64
        accountName:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        reason:
          $ref: '#/components/schemas/LedgerItem/properties/reason'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/ledgerItemReason.yml
        calculatedPayout:
          type: number
          format: float
        adjustment:
          type: number
          format: float
        totalPayout:
          type: number
          format: float
        dueDate:
          type: string
          format: date
        reconciliationType:
          $ref: '#/components/schemas/LedgerItemReconciliation/properties/reconciliationType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/reconciliationType.yml
        reconciliationTypeUpdateAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        deletedAt:
          type: string
          format: date-time
        deletedBy:
          type: string
          format: uuid
    PercentGrossFundedLoanAmountRevenueClause:
      type: object
      title: Percent of Gross Funded Loan Amount
      required:
        - percent
      properties:
        percent:
          type: number
          title: Percent
          multipleOf: 0.001
          minimum: 0.001
          maximum: 100
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    PercentOriginationFeeRevenueClause:
      type: object
      title: Percent of Origination Fee
      required:
        - percent
      properties:
        percent:
          type: number
          title: Percent
          multipleOf: 0.001
          minimum: 0.001
          maximum: 100
      allOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause/allOf/0'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/finance/schemas/abstractRevenueClause.yml
    ProductSubType:
      type: string
      description: A type of financial product
      enum:
        - credit_card
        - secured_card
        - personal_loan
        - student_loan_refinance
        - co_applicant_loan
        - line_of_credit
        - purchase
        - refinance
        - savings_account
        - money_market_account
        - certificate_of_deposit
        - individual_retirement_account
        - cash_management_account
        - high_interest_checking
        - accidental_death_benefits
        - term_life
    ProductType:
      type: string
      enum:
        - credit_card
        - insurance
        - life_insurance
        - loan
        - mortgage
        - savings
        - other
        - unknown
    ReceivableSummary:
      type: object
      required:
        - id
        - accountId
        - accountName
        - startDate
        - endDate
        - calculatedPayout
        - adjustment
        - totalPayout
        - dueDate
        - reconciliationType
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
        accountId:
          type: integer
          format: int64
        accountName:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        calculatedPayout:
          type: number
          format: float
        adjustment:
          type: number
          format: float
        totalPayout:
          type: number
          format: float
        dueDate:
          type: string
          format: date
        reconciliationType:
          $ref: '#/components/schemas/LedgerItemReconciliation/properties/reconciliationType'
          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/ledger/schemas/reconciliationType.yml
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        deletedAt:
          type: string
          format: date-time
        deletedBy:
          type: string
          format: uuid
    FooRevenueClause:
      oneOf:
        - $ref: '#/components/schemas/CostPerCreditCardApprovedRevenueClause'
        - $ref: '#/components/schemas/CostPerCreditCardOpenedRevenueClause'
        - $ref: '#/components/schemas/CostPerLoanApprovedRevenueClause'
        - $ref: '#/components/schemas/CostPerLoanFundedRevenueClause'
        - $ref: '#/components/schemas/CostPerSavingsFundedRevenueClause'
        - $ref: '#/components/schemas/CostPerSavingsOfferClickedRevenueClause'
        - $ref: '#/components/schemas/CostPerSavingsOpenedRevenueClause'
        - $ref: '#/components/schemas/OtherRevenueRevenueClause'
        - $ref: '#/components/schemas/PercentGrossFundedLoanAmountRevenueClause'
[...]
