openapi: 3.0.3
info:
  title: birch-web
  description: Birch Web Application
  version: 1.0.0
servers:
  - url: 'https://birchfinance.com/api'
components:
  x-lint-skip:
    - inline-schema-is-scalar
  schemas:
    GetRateTable:
      type: object
      description: A `RateTable` customized to a `Lead` input
      required:
        - uuid
        - leadUuid
        - loanAmount
        - creditCardOffers
        - loanOffers
        - mortgageOffers
        - savingsOffers
        - specialOffers
        - pendingOriginators
        - pendingResponses
      properties:
        uuid:
          type: string
          format: uuid
          description: Primary UUID for a `RateTable`
        leadUuid:
          type: string
          format: uuid
          description: UUID of the associated `Lead`
        loanAmount:
          type: integer
          format: int32
          description: '`Lead`''s provided loan amount at the time of `RateTable` creation'
        creditCardOffers:
          type: array
          items:
            type: object
            description: An offer for a credit card
            required:
              - details
            properties:
              details:
                type: object
                required:
                  - cardImageUrl
                  - preQualified
                  - preApproved
                properties:
                  cardName:
                    type: string
                    description: Display name of the card
                  cardImageUrl:
                    type: string
                    format: url
                  cardPurposes:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadRequestJson/properties/creditCardInformation/properties/cardPurposes/items'
                      x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/lead/schemas/cardPurposes.yml
                  ratesUrl:
                    type: string
                    format: url
                    description: 'External link to card rates, terms and conditions'
                  maxPurchaseApr:
                    type: number
                  minPurchaseApr:
                    type: number
                  purchaseAprText:
                    type: string
                  maxPurchaseIntroApr:
                    type: number
                  minPurchaseIntroApr:
                    type: number
                  purchaseIntroAprTerm:
                    type: integer
                    format: int32
                  purchaseIntroAprTermUnit:
                    $ref: '#/components/schemas/GetRateTable/properties/loanOffers/items/properties/termUnit'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/termUnit.yml
                  purchaseIntroAprText:
                    type: string
                  maxCashAdvanceApr:
                    type: number
                  minCashAdvanceApr:
                    type: number
                  cashAdvanceAprText:
                    type: string
                  maxCashAdvanceIntroApr:
                    type: number
                  minCashAdvanceIntroApr:
                    type: number
                  cashAdvanceIntroAprTerm:
                    type: integer
                    format: int32
                  cashAdvanceIntroAprTermUnit:
                    $ref: '#/components/schemas/GetRateTable/properties/loanOffers/items/properties/termUnit'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/termUnit.yml
                  cashAdvanceIntroAprText:
                    type: string
                  maxBalanceTransferApr:
                    type: number
                  minBalanceTransferApr:
                    type: number
                  balanceTransferAprText:
                    type: string
                  maxBalanceTransferIntroApr:
                    type: number
                  minBalanceTransferIntroApr:
                    type: number
                  balanceTransferIntroAprTerm:
                    type: integer
                    format: int32
                  balanceTransferIntroAprTermUnit:
                    $ref: '#/components/schemas/GetRateTable/properties/loanOffers/items/properties/termUnit'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/termUnit.yml
                  balanceTransferIntroAprText:
                    type: string
                  maxAnnualFee:
                    type: number
                  minAnnualFee:
                    type: number
                  annualIntroFee:
                    type: number
                  annualIntroFeeTerm:
                    type: integer
                    format: int32
                    description: Number of _years_ the introductory anual fee is in effect
                  introOfferAmount:
                    type: number
                  introOfferText:
                    type: string
                  introOfferType:
                    type: string
                    enum:
                      - miles
                      - points
                      - statement_credit
                  details:
                    type: array
                    description: List of card features which must be prominently displayed with the offer
                    items:
                      type: string
                  additionalDetails:
                    type: array
                    description: List of card features which must be displayed with the offer
                    items:
                      type: string
                  cardType:
                    type: string
                    enum:
                      - visa
                      - mastercard
                      - american_express
                      - discover
                  minimumCreditLine:
                    type: number
                  minimumPenaltyApr:
                    type: number
                  maximumPenaltyApr:
                    type: number
                  balanceTransferFee:
                    type: number
                  cashAdvanceFee:
                    type: number
                  lateFee:
                    type: number
                  foreignExchangeFee:
                    type: number
                  accountOpeningFee:
                    type: number
                  returnPaymentFee:
                    type: number
                  monthlyServiceFee:
                    type: number
                  recommendedCreditRatings:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadRequestJson/properties/creditInformation/properties/providedCreditRating'
                      x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/lead/schemas/providedCreditRating.yml
                  preQualified:
                    type: boolean
                  preApproved:
                    type: boolean
                  preSelected:
                    type: boolean
                    description: Indicates that Even has determined that the user has an increased likelihood of being approved for this card.
                  earningProgram:
                    type: object
                    description: Reward earning data for the card
                    required:
                      - transactionLevelEarningScheme
                      - cardLevelEarningScheme
                    properties:
                      transactionLevelEarningScheme:
                        description: 'Grouped by earn rate, the rules that earn multipliers on each transaction'
                        type: array
                        items:
                          type: object
                          description: 'A context around a nuumber of earning groups, such as caps, tiers, etc'
                          required:
                            - groups
                            - type
                          properties:
                            type:
                              description: The type of context this is. Basic contexts have no details.
                              type: string
                              enum:
                                - basic
                                - calculation
                                - introductory
                                - rotating
                                - capped
                            groups:
                              description: The earning groups relevent in this context
                              type: array
                              items:
                                type: object
                                description: A group of qualifiers which share the same default earn rate
                                required:
                                  - earnRate
                                  - earnRateText
                                  - items
                                properties:
                                  earnRate:
                                    type: number
                                    description: Numerical representation of the earn rate for this group
                                  earnRateText:
                                    type: string
                                    description: Display text for what the group earns
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      description: 'An association of an earn rate and a qualifier, like a category or merchant'
                                      required:
                                        - type
                                      properties:
                                        type:
                                          description: Refers to the type (and schema) of the item
                                          type: string
                                          enum:
                                            - category
                                            - merchant
                                            - ebp
                                            - paymentMethod
                                        earnRate:
                                          type: number
                                          description: Numerical representation of the default earn rate per dollar spent of the item
                                        personalization:
                                          $ref: '#/components/schemas/GetRateTable/properties/creditCardOffers/items/properties/details/properties/earningProgram/properties/transactionLevelEarningScheme/items/properties/personalization'
                                          x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/offer-augmentation/schemas/earningItemPersonalization.yml
                                        category:
                                          type: object
                                          description: A Category
                                          properties:
                                            uuid:
                                              type: string
                                              format: uuid
                                            name:
                                              type: string
                                              description: A detailed name for the category
                                            displayName:
                                              type: string
                                              description: A more user friendly name for the category
                                            phrase:
                                              type: string
                                              description: Sentence friendly
                                        merchant:
                                          type: object
                                          description: A business or store that is affiliated with a credit card earning program
                                          properties:
                                            uuid:
                                              type: string
                                              format: uuid
                                            name:
                                              description: The merchant's name
                                              type: string
                                            logo:
                                              type: string
                                              description: Logo URL
                                            category:
                                              $ref: '#/components/schemas/GetRateTable/properties/creditCardOffers/items/properties/details/properties/earningProgram/properties/transactionLevelEarningScheme/items/properties/groups/items/properties/items/items/properties/category'
                                              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/offer-augmentation/schemas/category.yml
                                  personalization:
                                    $ref: '#/components/schemas/GetRateTable/properties/creditCardOffers/items/properties/details/properties/earningProgram/properties/transactionLevelEarningScheme/items/properties/personalization'
                                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/offer-augmentation/schemas/earningItemPersonalization.yml
                            detail:
                              description: A phrase describing the context around the earning groups
                              type: string
                            explaination:
                              description: A full sentence describing the context around the earning groups
                              type: string
                            personalization:
                              type: object
                              description: 'Personalized values calculated for a specific item, such as an earning group or bonus'
                              properties:
                                totalSpent:
                                  type: number
                                  description: The amount the user spent in dollars within a calendar year
                                totalEarned:
                                  type: number
                                  description: The amount of points/miles/dollars the user would have received within a calendar year
                                totalValue:
                                  type: number
                                  description: The value in USD of the totalEarned amount based on the user's custom point valuation
                      cardLevelEarningScheme:
                        description: 'Card level bonuses, such as sign-on and anniversary bonuses'
                        type: array
                        items:
                          type: object
                          description: An earning event which is based on spend or is over time
                          required:
                            - type
                            - name
                            - bonus
                            - redemptionValue
                            - requirement
                          properties:
                            type:
                              type: string
                              enum:
                                - One Time
                                - Recurring
                            name:
                              type: string
                              enum:
                                - Sign-Up Bonus
                                - Anniversary Bonus
                                - Annual Bonus
                                - Usage Bonus
                            bonus:
                              type: string
                            redemptionValue:
                              type: string
                            requirement:
                              type: string
                            personalization:
                              type: object
                              description: 'Personalized values calculated for a specific bonus, such as a Sign On Bonus'
                              properties:
                                minimumSpendMet:
                                  type: boolean
                                  description: Were the conditions of the bonus met
                                qualifyingSpend:
                                  type: string
                                  description: The amount of spend the user had within the time period of the bonus
                      personalization:
                        type: object
                        description: 'Annual value of this card for the user, only returned in a simulation'
                        properties:
                          totalSpent:
                            type: number
                            description: The amount the user spent in dollars within a calendar year
                          totalEarned:
                            type: number
                            description: The amount of points/miles/dollars the user would have received within a calendar year
                          totalValue:
                            type: number
                            description: 'The value in USD of the totalEarned amount based on the user''s custom point valuation, minus fees'
                  foreignTransactionFee:
                    type: number
                    format: float
                    description: Percentage represented in decimal format added to all foreign transactions
                  cardBenefits:
                    type: array
                    items:
                      type: string
                      description: Benefits or benefit categories related to a credit card
                      enum:
                        - No Foreign Transaction Fees
                        - Purchase Protection
                        - Return Protection
                        - Price Protection
                        - Fraud Protection
                        - Extended Warranty
                        - Travel Accident Insurance
                        - Trip Interruption Insurance
                        - Car Rental Insurance
                        - Baggage Insurance
                        - Baggage Delay Insurance
                        - Hotel Burglary Insurance
                        - Travel & Emergency Assistance
                        - Roadside Assistance
                        - Concierge Service
                        - Lounge Access
                        - Identity Theft Assistance
                        - In-Flight Savings
                        - Free Checked Bag
                        - Priority Boarding
                        - No Blackout Dates
                        - Free Companion Ticket
                        - Discount Companion Ticket
                        - Global Entry or TSA PreCheck
                        - Private Jet Perks
                        - Lounge Access Discount
                        - 24/7 Cardholder Support
                        - Authorized User
                        - Entertainment Access
                        - Airline Fee Credit
                        - Late Fee Pass
                        - Credit Score Reporting
                        - No Flight Change Fees
                        - 24/7 Account Monitoring
                        - Amex Offers
                        - Visa Signature Offers
                        - MasterCard Offers
                        - Free Hotel Stay
                        - Extended Hotel Stay
                        - Dining Concierge
                        - 2 Lounge Passes
                        - Hilton Honors Silver Membership
                        - Hilton Honors Gold Membership
                        - World of Hyatt Discoverist Status
                        - SPG Gold Membership
                        - Marriott Rewards Silver Status
                        - Hertz Presidents Circle Elite Status
                        - 2 Free Checked Bags
                        - Auto Discounts
                        - InCircle Partnership
                        - ShopRunner
                        - WiFi Access
                        - ShopSafe
                        - BoA Preferred Rewards
                        - MasterCard Fuel Rewards Network
                        - Missed Event Ticket Protection
                        - Account Freezing
                        - Cell Phone Protection
                        - GPA Rewards
                        - In-Flight WiFi Credit
                        - Citi Private Pass
                        - Priceless Cities
                        - The Hotel Collection
                        - By Invitation Only
                        - Luxury Hotel Collection
                        - Expedia+ Silver Status
                        - Expedia+ Gold Status
                        - $100 American Airlines Discount
                        - Disney Parks Perks and Savings
                        - Ritz-Carlton Gold Elite Status
                        - Ritz-Carlton Club Level Upgrade
                        - Annual Travel Credit
                        - IHG Platinum Elite Status
                        - QuickBooks Connect
                        - ReceiptMatch
                        - Employee Spending Limits
                        - FX International Payments
                        - No Pre-Set Spending Limit
                        - Purchase Financing
                        - Amex Open Savings
                        - Amazon Special Financing
                        - $100 Ritz-Carlton Hotel Credit
                        - British Airways Companion Ticket
                        - Mercedes-Benz Gift Certificates
                        - Mercedes-Benz Excess Mileage Waiver
                        - JetBlue Annual Statement Credit
                        - 20% Discount on Delta Flights for Delta Private Jet Members
                        - Expense Report Features
                        - Business Cell Phone Protection
                        - Free Shipping on most Target.com orders
                        - 30 Extra Days for Returns
                        - Free clothing altertaions
                        - Personal shopping
                        - Shopmyway Savings
                        - Online Subscription Credit
                        - Uber Exclusive Access
                        - Airline Benefits
                        - Hotel Benefits
                        - Other Travel Benefits
                        - Emergency Assistance
                        - Experiences
                        - Shopping Benefits
                        - Cardholder Benefits
                        - Enhanced Security
                        - Business Benefits
                        - Other Benefits
                        - In-Flight Discounts
                        - Fee Coverage
                        - Flight Credits & Discounts
                        - Hotel Membership Status
                        - Hotel Credit & Free Stays
                        - Travel Credit
                        - Travel Experiences Programs
                        - Car Rental Membership Status
                        - Extra Gas Rewards
                        - Shopping Protection
                        - Shopping Discounts
                        - Free Shipping
                        - The Boingo American Express Preferred Plan
                        - AirSpace Lounge
                        - Uber Monthly Credit
                        - Ride Share Benefits
                        - Delta Sky Club
                        - Admirals Club Membership
                        - Priority Pass Select Membership (Prestige)
                        - Priority Pass Select Membership (Standard Plus)
                        - Daily Breakfast
                        - Early Check-in & Late Check-out
                        - Room Upgrades
                        - Complementary WiFi
                        - Amex Hotel Collection Credit
                        - Temporary Account Numbers
                        - One-Time 50% Discount on Companion Ticket
                        - Airline Travel Credit
                        - United Club Membership
                        - Chip Technology
                        - Earn More Miles for Sharing Travel Stories
                        - Mastercard World Elite Concierge and Luxury Travel Benefits
                        - 20% Savings on Delta In-Flight Purchases
                        - 25% Savings on United In-Flight Food and Drink Purchases
                        - $100 Hilton Properties Credit
                        - $250 Hilton Resort Credit
                        - Hilton Honors Diamond Membership
                        - Free Birthday Gift
                        - 2x Points During Your Birthday Month
                        - Car Rental VIP Perks
                        - Free shipping with the purchase of a bra
                        - Monthly Dining Credit
                        - Amazon Prime Student
            allOf:
              - type: object
                required:
                  - uuid
                  - partner
                  - productType
                  - productSubType
                  - url
                properties:
                  uuid:
                    type: string
                    format: uuid
                  partner:
                    $ref: '#/components/schemas/GetRateTable/properties/pendingResponses/items/properties/partner'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/demandPartner.yml
                  marketplace:
                    $ref: '#/components/schemas/GetRateTable/properties/pendingResponses/items/properties/partner'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/demandPartner.yml
                  productType:
                    $ref: '#/components/schemas/LeadRequestJson/properties/productTypes/items'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/productType.yml
                  productSubType:
                    $ref: '#/components/schemas/GetRateTable/properties/loanOffers/items/properties/productSubType'
                    x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/lead/schemas/productSubType.yml
                  url:
                    type: string
                    format: url
                  recommendationScore:
                    type: number
                  disclaimer:
                    type: string
        loanOffers:
          type: array
          items:
            type: object
            required:
              - termLength
              - termUnit
              - maxAmount
              - allowPrepayment
              - preQualified
              - preApproved
              - secured
              - sponsored
              - aprType
            properties:
              uuid:
                type: string
                format: uuid
              originator:
                $ref: '#/components/schemas/GetRateTable/properties/pendingOriginators/items'
                x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/originator.yml
              originatorId:
                type: string
              termLength:
                type: integer
                format: int32
              termUnit:
                type: string
                description: |
                  Unit of measure for offer term lengths, or open for a single term.
                enum:
                  - day
                  - month
                  - year
                  - open
              maxAmount:
                type: integer
                format: int32
              minAmount:
                type: integer
                format: int32
              maxApr:
                type: number
              minApr:
                type: number
              meanApr:
                type: number
              feeRate:
                type: number
                description: The maximum percent of loan amount fee for an offer. `maxFeeRate` should be used instead
                deprecated: true
              maxFeeRate:
                type: number
              minFeeRate:
                type: number
              feeFixed:
                type: number
                description: 'The maximum fee, in dollars, for an offer. `maxFeeFixed` should be used instead'
                deprecated: true
              maxFeeFixed:
                type: number
              minFeeFixed:
                type: number
              allowPrepayment:
                type: boolean
              prepaymentFee:
                type: number
              monthlyPayment:
                type: number
                description: 'The estimated maximum monthly payment, in dollars, for an offer. `maxMonthlyPayment` should be used instead'
                deprecated: true
              maxMonthlyPayment:
                type: number
              minMonthlyPayment:
                type: number
              meanMonthlyPayment:
                type: number
              maxTotalPayment:
                type: number
              minTotalPayment:
                type: number
              meanTotalPayment:
                type: number
              terms:
                type: string
              url:
                type: string
                format: url
              preQualified:
                type: boolean
              preApproved:
                type: boolean
              secured:
                type: boolean
              sponsored:
                type: boolean
                deprecated: true
              recommendationScore:
                type: number
              payout:
                type: number
              conversionProbability:
                type: number
              productType:
                $ref: '#/components/schemas/LeadRequestJson/properties/productTypes/items'
                x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/productType.yml
              productSubType:
                type: string
                description: A type of financial product
                enum:
                  - credit_card
                  - secured_card
                  - personal_loan
                  - student_loan_refinance
                  - co_applicant_loan
                  - line_of_credit
                  - purchase
                  - refinance
                  - savings_account
                  - money_market_account
                  - certificate_of_deposit
                  - individual_retirement_account
                  - cash_management_account
                  - high_interest_checking
                  - accidental_death_benefits
                  - term_life
              aprType:
                type: string
                enum:
                  - variable
                  - regular
                  - fixed
        mortgageOffers:
          type: array
          items:
            type: object
            description: An offer for a mortgage
            required:
              - details
            properties:
              details:
                type: object
                required:
                  - interestRate
                  - loanType
                  - priceAdjustment
                  - monthlyPayment
                  - netClosingCosts
                  - apr
                  - loanTerm
                  - adjustmentType
                properties:
                  interestRate:
                    type: number
                  loanType:
                    type: string
                    enum:
                      - fifteen_year_fixed
                      - thirty_year_fixed
                      - five_one_adjustable
                      - seven_one_adjustable
                      - ten_one_adjustable
                  priceAdjustment:
                    type: number
                  monthlyPayment:
                    type: number
                  netClosingCosts:
                    type: number
                  apr:
                    type: number
                  loanTerm:
                    type: integer
                    format: int32
                  adjustmentType:
                    type: string
                    enum:
                      - credits
                      - par
                      - points
            allOf:
              - $ref: '#/components/schemas/GetRateTable/properties/creditCardOffers/items/allOf/0'
                x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/offer.yml
        savingsOffers:
          type: array
          items:
            type: object
            description: An offer for a savings account
            required:
              - details
            properties:
              details:
                type: object
                required:
                  - annualPercentYield
                  - compoundingMethod
                  - minimumDeposit
                  - monthlyFee
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  details:
                    type: string
                  rate:
                    type: number
                    description: Annual interest rate
                  annualPercentYield:
                    type: number
                  compoundingMethod:
                    type: string
                    enum:
                      - annually
                      - continuous
                      - daily
                      - monthly
                      - quarterly
                      - semiAnnually
                      - simple
                      - weekly
                  introductoryPeriodMonths:
                    type: integer
                    format: int32
                  introductoryRate:
                    type: number
                  minimumDeposit:
                    type: number
                  minimumDepositWithFees:
                    type: number
                  monthlyFee:
                    type: number
                  checkWriting:
                    type: boolean
                    description: Whether the account allows checks
                  effectiveAsOf:
                    type: string
                    format: date-time
                    description: 'When the offer was last validated, formatted as yyyy-MM-ddTHH:mm:ss.SSSZZ'
            allOf:
              - $ref: '#/components/schemas/GetRateTable/properties/creditCardOffers/items/allOf/0'
                x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/originator/schemas/offer.yml
        specialOffers:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
              name:
                type: string
              desc:
                type: string
                description: Description
              url:
                type: string
                format: url
              partnerName:
                type: string
              partnerImageUrl:
                type: string
                format: url
              recommendationScore:
                type: number
              payout:
                type: number
        pendingOriginators:
          type: array
          description: 'List of originators which have been queried, but have not responded yet. This list only contains loan originators, and should no longer be used'
          deprecated: true
          items:
            type: object
            required:
              - key
              - name
              - images
            properties:
              key:
                type: string
              name:
                type: string
              description:
                type: string
              images:
                type: array
                items:
                  type: object
                  properties:
                    sizeKey:
                      type: string
                    url:
                      type: string
              disclaimer:
                type: string
              companyUuid:
                type: string
                format: uuid
        pendingResponses:
          type: array
          description: 'List of demand partners which have been queried, but have not responded yet. It is a guarantee that no offers will be added to the rate table after this list is empty'
          items:
            type: object
            required:
              - partner
              - productTypes
            properties:
              partner:
                type: object
                required:
                  - uuid
                  - name
                  - description
                  - disclaimer
                  - supportsPersonalizedOffers
                  - imageUrl
                properties:
                  uuid:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                  disclaimer:
                    type: string
                  supportsPersonalizedOffers:
                    type: boolean
                    description: Whether the partner supports returning pre-qualified or pre-approved offers
                  imageUrl:
                    type: string
                    format: url
              productTypes:
                type: array
                items:
                  $ref: '#/components/schemas/LeadRequestJson/properties/productTypes/items'
                  x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/productType.yml
    GetRateTableRequest:
      type: object
      required:
        - productType
      properties:
        productType:
          type: string
          enum:
            - credit_card
            - loan
            - savings
          description: |
            Type of Lead to return RateTable for.
    LeadRequestJson:
      type: object
      properties:
        productTypes:
          type: array
          description: Product types in which the `Lead` is interested
          items:
            type: string
            enum:
              - credit_card
              - insurance
              - life_insurance
              - loan
              - mortgage
              - savings
              - other
              - unknown
        uuid:
          type: string
          format: uuid
          description: Primary UUID for a `Lead`
        sessionUuid:
          type: string
          format: uuid
          description: 'UUID used to link leads across verticals, unique per user per supply sub-account'
        loanInformation:
          type: object
          properties:
            purpose:
              type: string
              enum:
                - auto_purchase
                - auto_refinance
                - baby
                - boat
                - business
                - car_repair
                - cosmetic
                - credit_card_refi
                - debt_consolidation
                - emergency
                - engagement
                - green
                - home_improvement
                - home_purchase
                - home_refi
                - household_expenses
                - large_purchases
                - life_event
                - medical_dental
                - motorcycle
                - moving_relocation
                - rv
                - special_occasion
                - student_loan
                - student_loan_refi
                - taxes
                - vacation
                - wedding
                - other
                - unknown
            loanAmount:
              type: integer
              format: int32
        personalInformation:
          type: object
          properties:
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
              format: email
              pattern: '^[a-zA-Z0-9!#$%&''*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&''*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
            city:
              type: string
            state:
              type: string
              format: state
              title: state
              description: 'A two character upper case state, Puerto Rico, or District of Columbia code'
              enum:
                - AK
                - AL
                - AR
                - AZ
                - CA
                - CO
                - CT
                - DC
                - DE
                - FL
                - GA
                - HI
                - IA
                - ID
                - IL
                - IN
                - KS
                - KY
                - LA
                - MA
                - MD
                - ME
                - MI
                - MN
                - MO
                - MS
                - MT
                - NC
                - ND
                - NE
                - NH
                - NJ
                - NM
                - NV
                - NY
                - OH
                - OK
                - OR
                - PA
                - PR
                - RI
                - SC
                - SD
                - TN
                - TX
                - UT
                - VA
                - VI
                - VT
                - WA
                - WI
                - WV
                - WY
            workPhone:
              type: string
              pattern: '^1?\d{10}$'
            primaryPhone:
              type: string
              pattern: '^1?\d{10}$'
            bestTimeToCall:
              type: string
              enum:
                - morning
                - afternoon
                - evening
                - night
                - unknown
            address1:
              type: string
              description: Street address (primary address line)
            address2:
              type: string
              description: Secondary address line
            zipcode:
              type: string
              pattern: '^\d{5}([-\s]\d{4})?$'
            monthsAtAddress:
              type: integer
              format: int32
              description: Number of months the provided address has been the lead's primary residence
            driversLicenseNumber:
              type: string
            driversLicenseState:
              type: string
              description: State in which the driver's license was issued
            ipAddress:
              type: string
              format: ip
              description: IP address
            activeMilitary:
              type: boolean
              description: Whether the lead is currently in the military (not a veteran)
            militaryVeteran:
              type: boolean
              description: Whether the lead is a veteran (should not be used if the lead is active in the military)
            dateOfBirth:
              type: string
              format: date
            educationLevel:
              deprecated: true
              allOf:
                - type: string
                  enum:
                    - high_school
                    - associate
                    - bachelors
                    - masters
                    - doctorate
                    - other_grad_degree
                    - other
                    - unknown
            ssn:
              type: string
              format: ssn
              pattern: '^(?!\b(\d)\1+-(\d)\1+-(\d)\1+\b)(?!123-45-6789|219-09-9999|078-05-1120)(?!666|000|9\d{2})\d{3}-(?!00)\d{2}-(?!0{4})\d{4}$'
            citizenshipStatus:
              type: string
              description: Citizenship status
              enum:
                - citizen
                - permanent_resident
                - other
                - unknown
        mortgageInformation:
          type: object
          properties:
            propertyType:
              type: string
              enum:
                - rent
                - condo
                - multi_unit
                - single_family
                - townhouse
                - unknown
            propertyValue:
              type: integer
              format: int32
            mortgageBalance:
              type: integer
              format: int32
            lenderName:
              type: string
            hasFHALoan:
              type: boolean
            currentWithLoan:
              type: boolean
            propertyStatus:
              type: string
              enum:
                - own_outright
                - own_with_mortgage
                - rent
                - unknown
            mortgageType:
              type: string
              enum:
                - purchase
                - refinance
                - unknown
            mortgageAmount:
              type: integer
              format: int32
              description: Amount the lead will borrow
            downPaymentAmount:
              type: integer
              format: int32
            propertyState:
              type: string
            propertyCounty:
              type: string
            propertyAddress1:
              type: string
              description: Street address (primary address line)
            propertyAddress2:
              type: string
              description: Secondary address line
            propertyZipcode:
              type: string
            propertyCity:
              type: string
            refinanceAmount:
              type: integer
              format: int32
              description: Amount the lead will borrow for refinancing an existing mortgage
            cashOutAmount:
              type: integer
              format: int32
              description: Additional amount the lead will borrow against existing home equity in the case of refinance
            occupancyType:
              type: string
              enum:
                - primary
                - secondary
                - investment
                - unknown
            refinanceType:
              type: string
              enum:
                - cash_out
                - rate_term
                - unknown
            propertySearchStatus:
              type: string
              enum:
                - found
                - not_found
                - unknown
            numUnits:
              type: integer
              format: int32
              description: The number of legal units on the property
            closingDate:
              type: string
              format: date
            purchaseStatus:
              type: string
              enum:
                - no_offer
                - offer_accepted
                - offer_pending
                - under_contract
                - unknown
            purchaseDate:
              type: string
              format: date
            monthlyHoaFee:
              type: number
              format: float
              description: The amount of the HOA fee for the lead
            mortgageCompany:
              type: string
              description: The name of the company holding the lead's mortgage
            mortgageEscrowAmount:
              type: number
              format: float
              description: The amount of escrow the lead pays
        creditCardInformation:
          type: object
          properties:
            allowAnnualFee:
              type: boolean
            cardPurposes:
              type: array
              items:
                type: string
                description: Purposes or categories related to a credit card
                enum:
                  - balance_transfer
                  - cash_back
                  - earning_rewards
                  - improve_credit
                  - low_interest
                  - new_to_credit
                  - student
                  - travel_incentives
                  - unknown
              description: A list of card purposes in which the lead is interested
        savingsInformation:
          type: object
          properties:
            minDepositAmount:
              type: integer
              format: int64
              description: The minimum amount a `Lead` is interesting in depositing when opening a new savings account
        creditInformation:
          type: object
          description: Credit history information relating to a `Lead`
          properties:
            providedCreditRating:
              type: string
              enum:
                - excellent
                - good
                - fair
                - poor
                - limited
                - unknown
            providedNumericCreditScore:
              type: integer
              format: int32
              description: FICO credit score provided by a `Lead`
        financialInformation:
          type: object
          properties:
            employmentStatus:
              type: string
              enum:
                - employed_full_time
                - employed_part_time
                - military
                - not_employed
                - self_employed
                - retired
                - other
                - unknown
            employmentPayFrequency:
              type: string
              enum:
                - weekly
                - biweekly
                - twice_monthly
                - monthly
                - unknown
            annualIncome:
              type: integer
              format: int32
            monthlyNetIncome:
              type: integer
              format: int32
            bankName:
              type: string
            bankRoutingNumber:
              type: string
            bankAccountType:
              type: string
              enum:
                - checking
                - savings
                - other
                - unknown
            monthsAtBank:
              type: integer
              format: int32
            bankAccountNumber:
              type: string
            monthlyDebt:
              type: integer
              format: int32
            totalAssets:
              type: integer
              format: int32
            monthlyHousingPayment:
              type: integer
              format: int32
            availableAssets:
              type: integer
              format: int32
        employmentInformation:
          type: object
          properties:
            employerName:
              type: string
            employerAddress:
              type: string
            employerCity:
              type: string
            employerState:
              type: string
            employerZip:
              type: string
            jobTitle:
              type: string
            monthsEmployed:
              type: integer
              format: int32
            directDeposit:
              type: boolean
              description: Whether a `Lead` uses direct deposit for their salary
            payDate1:
              type: string
              format: date
            payDate2:
              type: string
              format: date
        legalInformation:
          type: object
          description: Information regarding a `Lead`'s communication concent
          properties:
            consentsToFcra:
              type: boolean
              description: 'Whether the lead was shown, and consented to a Fair Credit Reporting Act notice'
            consentsToTcpa:
              type: boolean
              description: 'Whether the lead was shown, and consented to a Telephone Consumer Protection Act notice'
            tcpaLanguage:
              type: string
              description: The exact text to which the lead consented
        educationInformation:
          type: object
          properties:
            educationLevel:
              $ref: '#/components/schemas/LeadRequestJson/properties/personalInformation/properties/educationLevel/allOf/0'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/lead/schemas/educationLevel.yml
            graduateDegreeType:
              type: string
              enum:
                - doctor_of_medicine
                - doctor_of_osteopathic_medicine
                - doctor_of_optometry
                - doctor_of_dental_medicine
                - dentariae_medicinae_doctoris
                - doctor_of_dental_surgery
                - doctor_of_veterinary_medicine
                - doctor_of_pharmacy
                - veterinariae_medicinae_doctoris
                - master_of_arts
                - master_of_science
                - master_of_research
                - master_of_research_project
                - master_of_studies
                - master_of_business_administration
                - master_of_library_science
                - master_of_public_administration
                - master_of_public_health
                - master_of_laws
                - master_of_arts_liberal_studies
                - master_of_fine_arts
                - master_of_music
                - master_of_education
                - master_of_engineering
                - master_of_architecture
                - juris_doctor
                - other
                - unknown
            universityAttended:
              type: string
              description: |
                Name of university where a lead received their highest degree.
                A lookup service for possible universiteis is available from using the /leads/universities endpoint.
                To maximize returned offers, this string must match one of the names returned from the lookup.
            graduationDate:
              type: string
              format: date
        coApplicantInformation:
          type: object
          description: |
            The personal information of a co-applicant that may be considered in the
            underwriting and approval of a loan.
          properties:
            firstName:
              type: string
            lastName:
              type: string
            dateOfBirth:
              type: string
              format: date
            annualIncome:
              type: integer
              format: int32
            streetAddress1:
              type: string
              description: Street address (primary address line)
            streetAddress2:
              type: string
              description: Secondary address line
            city:
              type: string
            state:
              $ref: '#/components/schemas/LeadRequestJson/properties/personalInformation/properties/state'
              x-miro: /Users/mmj/Developer/personal/SwagGen/Specs/bircheven/core/schemas/state-lead.yml
            zipCode:
              type: string
              pattern: '^\d{5}([-\s]\d{4})?$'
        healthInformation:
          type: object
          properties:
            gender:
              type: string
              enum:
                - male
                - female
                - unknown
            heightInInches:
              type: integer
              format: int32
            weightInPounds:
              type: integer
              format: int32
            tobaccoSmoker:
              type: boolean
        clientTags:
          type: object
          description: Arbitrary key-values mappings to associate with a `Lead`. This field can be use to attach `subid`s to a `Lead`
          additionalProperties:
            type: array
            items:
              type: string
          maxProperties: 1
          minProperties: 1
          example:
            subid:
              - '123'
        sessionInformation:
          type: object
          description: Browsing session information accociated with a `Lead`
          properties:
            ipAddress:
              type: string
            userAgent:
              type: string
        formCompleted:
          type: boolean
          description: Whether the `Lead` has completed an application form
          deprecated: true
        referralCompanyUuid:
          type: string
          format: uuid
          description: UUID of company from which the `Lead` was referred
          deprecated: true
        trackingUuid:
          type: string
          format: uuid
          description: UUID for internal Even Financial tracking purposes. This field should never be set by 3rd party API consumers
          deprecated: true
      example:
        summary: A lead request
        value:
          productTypes:
            - loan
            - savings
          personalInformation:
            firstName: John
            lastName: Doe
            email: john@example.com
            city: New York
            state: NY
            workPhone: '2125551234'
            primaryPhone: '2125556789'
            address1: 45 West 21st Street
            address2: 5th Floor
            zipcode: '10010'
            monthsAtAddress: 5
            driversLicenseNumber: '111222333'
            driversLicenseState: NY
            ipAddress: 8.8.8.8
            activeMilitary: false
            militaryVeteran: true
            dateOfBirth: '1993-10-09'
            ssn: 111-22-3333
          loanInformation:
            purpose: debt_consolidation
            loanAmount: 10000
          mortgageInformation:
            propertyType: condo
            propertyStatus: own_with_mortgage
            propertyValue: 200000
            mortgageBalance: 10000
            lenderName: Bank OF NY
            hasFHALoan: true
            currentWithLoan: true
          creditCardInformation:
            allowAnnualFee: true
            cardPurposes:
              - travel_incentives
          savingsInformation:
            minDepositAmount: 1000
          creditInformation:
            providedCreditRating: excellent
            providedNumericCreditScore: 750
          financialInformation:
            employmentStatus: employed
            employmentPayFrequency: weekly
            annualIncome: 120000
            monthlyNetIncome: 10000
            bankName: Santander
            bankRoutingNumber: '231372691'
            bankAccountType: savings
            monthsAtBank: 10
            bankAccountNumber: '1234567890'
          employmentInformation:
            employerName: EVEN Financial
            employerAddress: 45 W 21st St
            employerCity: New York
            employerState: NY
            employerZip: '10010'
            jobTitle: Software Engineer
            monthsEmployed: 14
            directDeposit: true
            payDate1: '2004-10-06'
            payDate2: '2004-11-06'
          educationInformation:
            educationLevel: masters
            graduateDegreeType: master_of_science
            universityAttended: Johns Hopkins University
          coApplicantInformation:
            firstName: Jane
            lastName: Doe
            dateOfBirth: '1984-03-06'
            annualIncome: 100000
            streetAddress1: 45 West 21st Street
            streetAddress2: 5th Floor
            city: New York
            state: NY
            zipcode: '10010'
          healthInformation:
            gender: male
            heightInInches: 72
            weightInPounds: 195
            tobaccoSmoker: false
          legalInformation:
            consentsToFcra: true
            consentsToTcpa: true
            tcpaLanguage: 'I agree to be contacted by Even Financial and its partners at the telephone number(s) I have provided above to explore personal loan offers, including contact through automatic dialing systems, artificial or pre-recorded voice messaging, or text message. I understand my consent is not required as a condition to purchasing any goods or services from anyone.'
          clientTags:
            hello:
              - world
              - there
            something:
              - else
    ApiError:
      type: object
      properties:
        attribute:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        details:
          type: object
          readOnly: true
          additionalProperties:
            type: string
        message:
          type: string
          readOnly: true
tags:
  - name: Plaid
  - name: Bank
paths:
  /even/getRateTables:
    post:
      tags:
        - Even
      summary: getRateTables
      description: getRateTables
      operationId: getRateTables
      requestBody:
        description: Get `RateTable` for User by `productType`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRateTableRequest'
              x-miro: ./schemas/getRateTableRequest.yml
        required: true
      responses:
        '200':
          description: Returns `RateTable` for specified `productType` if table exists within 30 days
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateTable'
                x-miro: ../originator/schemas/rateTablePublic.yml
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
                x-miro: ../core/schemas/apiError.yml
              example:
                summary: An internal server error
                description: An unknown error occured
                value:
                  message: Internal Error
                  details: Something went wrong...
  /even/createUpdateLeadAndGetRateTables:
    post:
      tags:
        - Even
      summary: createUpdateLeadAndGetRateTables
      operationId: createUpdateLeadAndGetRateTables
      requestBody:
        description: Create `Lead` and get `RateTable`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadRequestJson'
              x-miro: ../lead/schemas/leadRequestJson.yml
        required: true
      responses:
        '200':
          description: Return `RateTable` for newly created lead
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateTable'
                x-miro: ../originator/schemas/rateTablePublic.yml
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
                x-miro: ../core/schemas/apiError.yml
              example:
                summary: An internal server error
                description: An unknown error occured
                value:
                  message: Internal Error
                  details: Something went wrong..
